<div class="start">
    <form action="/login" method='post'>
        <div class="Data-Content">
            <div class="Data-Title">
                <label for="txt_user">User</label><br />
                <label for="txt_password">Password</label><br />
        	</div>
        	<div class="Data-Items">
                <input type="text" id="User" name="usr"/><br />
                <input type="text" id="Password" name="pwd"/><br />
                <input id="login" type='submit' name='login' value="Login"> </input>
            </div>
        </div>
    </form>
</div>







